.text-graphics {
    color: blueviolet;
}

.profile-image {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
    object-fit: contain;
}

/* .project {
    min-height: 650px;
} */

.project:hover {
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5)!important;
    transition: box-shadow 0.3s ease-in-out!important;
}

.research-image {
    width: 100%;
    max-height: 250px;
    object-fit: cover;
}

.anchor-link {
    color: navy!important;
}

.bold {
    font-weight: bold;
}

.content-link:hover {
    background-color: #EDEDED;
}

.alignList b {
    display: inline-block;
    width: 35%;
    position: relative;
    padding-right: 10px; /* Ensures colon does not overlay the text */
}
  
.alignList b::after {
    content: ":";
    position: absolute;
    right: 10px;
}

/* ----------------------------------------------------- */
.card {
    position: absolute;
    width: 100%;
    height: 100%;
    float: left;
    border: 0;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.card:hover .content {
    transform: rotateY( 180deg ) ;
    transition: transform 0.5s;
}

.front,
.back {
    position: absolute;
    height: 100%;
    width: 100%;
    background: white;
    text-align: center;
    backface-visibility: hidden;
}

.back {
    transform: rotateY( 180deg );
}


/* stylelint-disable selector-list-comma-newline-after */

.blog-header {
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    font-size: 2.25rem;
}

.blog-header-logo:hover {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.display-4 {
    font-size: 2.5rem;
}

@media (min-width: 768px) {
.display-4 {
    font-size: 3rem;
}
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
}

.card-img-right {
    height: 100%;
    border-radius: 0 3px 3px 0;
}

.flex-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

.h-250 { height: 250px; }

@media (min-width: 768px) {
.h-md-250 { height: 250px; }
}

/* Pagination */
.blog-pagination {
    margin-bottom: 4rem;
}
.blog-pagination > .btn {
    border-radius: 2rem;
}

/*
* Blog posts
*/
.blog-post {
    margin-bottom: 4rem;
}
.blog-post-title {
    margin-bottom: .25rem;
    font-size: 2.5rem;
}
.blog-post-meta {
    margin-bottom: 1.25rem;
    color: #999;
}

/*
* Footer
*/
.blog-footer {
    padding: 2.5rem 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
    margin-bottom: 0;
}
